html * { font-family: 'Sintony', sans-serif; }

#error-list { list-style-type: none; }
#error-list li { text-align: center; }

#load-img { display: block; width: 200px; margin: 0 auto; border-radius: 20px; }

#flower-img * { stroke: none !important; }

#top-matter { text-align: center; }

#below-matter { position: relative; }

#front-matter { 
    position: absolute;
    top: 0; 
    background: rgba(200,200,200,0.4);
    width: 100%;
    padding: 100px 0 500px 0; 
}

#back-matter { text-align: center; }

.slice text {
    font-size: 12pt;
    font-family: Arial;
    z-index: 9000;
}  


#silly { position: absolute;
	 width: 250px;
	 height: 250px;
	 top: -50px;
	 left: -50px;
	 transform:rotate(135deg);
	 -ms-transform:rotate(135deg); /* IE 9 */
	 -moz-transform:rotate(135deg); /* Firefox */
	 -webkit-transform:rotate(135deg); /* Safari and Chrome */
	 -o-transform:rotate(135deg); /* Opera */
}